@handler $safeprojectname$.Home.Index
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>$safeprojectname$ F# Application</title>
</head>
<body>
    <div>
        <h1>Welcome!</h1>
        <p>
            Enjoy this <em>pure</em> ASP.NET F# project. Checkout the <a href="https://github.com/markrendle/simple.web">GitHub page</a>,
            or <a href="http://blog.markrendle.net/2012/06/01/simple-web/">Mark Rendle's blog</a> for more information on $safeprojectname$.
        </p>
    </div>
</body>
</html>