<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="WinSvc/Conf/ServiceName" value="XServiceService" />
    <add key="WinSvc/Conf/DisplayName" value="XService Service" />
    <!-- System.ServiceProcess.ServiceStartMode -->
    <add key="WinSvc/Conf/ServiceStartMode" value="Automatic" />
    <add key="WinSvc/Conf/Description" value="XService Service" />
    <!-- csv -->
    <add key="WinSvc/Conf/ServicesDependedOn" value=",," />
    <!-- bool -->
    <add key="WinSvc/Conf/DelayedAutoStart" value="true" />
  </appSettings>
</configuration>